<html ng-app="extratoLancamento">
    <head>
        <title>Extrato de Lançamento</title>
        <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.css"/>
        <script src="../vendors/angular/angular.js"></script>
        <script src="extrato.controller.js"></script>
    </head>
    <body ng-controller="extratoLancamentoController">
        
        <div style="margin-top:10px; margin-left:10px; margin-right:10px;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title" style="text-align: center">EXTRATO DE LANÇAMENTOS - CONTA CORRENTE</h1>
                </div>
            
                <div class="panel-body">
                <label>Banco:</label>
                <input style="margin-right:10px;" type="text" ng-model="banco" placeholder="Digite o banco">
                <label>Agência:</label>
                <input style="margin-right:10px;" type="text" ng-model="agencia" placeholder="Digite a agência">
                <label>Conta:</label>
                <input style="margin-right:10px;" type="text" ng-model="conta" placeholder="Digite a conta corrente">
                <button type="button" class="btn btn-sm btn-primary" ng-click="filtrar()">Filtrar</button>
                <button type="button" class="btn btn-sm btn-primary" ng-click="limpar()">Limpar</button>
                <hr>

            
                <label>Lançamentos realizados:</label>
                <div class="table-responsive">
                    <table class="table table-striped" style= "margin-left:0px; margin-right:0px;">
                        <tr>
                            <th>Data do lançamento</th>
                            <th>Descrição</th>
                            <th>Número</th>
                            <th>Situação</th>
                            <th>Data de Confirmação</th>
                            <th>Dados bancários</th>
                            <th>Valor final</th>
                        </tr>
                        <tr ng-repeat="lancamento in lancamentos">
                            <td>{{lancamento.dataLancamento}}</td>
                            <td>{{lancamento.descricao}}</td>
                            <td>{{lancamento.numero}}</td>
                            <td>{{lancamento.situacao}}</td>
                            <td>{{lancamento.dataConfirmacaoLancamento}}</td>
                            <td>{{"BANCO " + lancamento.banco + " Ag " + lancamento.agencia + " CC " + lancamento.contacorrente}}</td>
                            <td>{{lancamento.valorFinal | currency: "R$ "}}</td>
                        </tr>
                    </table>
                    </hr>

                </div>
            </div>
        </div>
    
    </body>
</html>